# Flask backend
Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
Flask-Mail==0.9.1
Flask-Babel==3.1.0
Werkzeug==2.3.7
email-validator==2.1.1
requests==2.32.3
Pillow==10.4.0
reportlab==4.2.4
openpyxl==3.1.5
twilio==9.2.4
qrcode==7.4.2
PyJWT==2.9.0
python-dotenv==1.0.1
gunicorn==23.0.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
dlib==19.24.2; sys_platform != "win32"

face_recognition==1.3.0
cmake
numpy
opencv-python
face-recognition==1.3.0
face-recognition-models==0.3.0
